# Cargo Theft Data Pre-Processing

## I. Import and Check Out the Data

In [1]:
# Import the necessary dependencies
import pandas as pd

In [2]:
# Read the CSV file into a DataFrame.
raw_df = pd.read_csv("Resources/CT_2013_2021.csv")
raw_df.head()

,data_year,ori,pub_agency_name,pub_agency_unit,agency_type_name,state_abbr,state_name,division_name,county_name,region_name,...,weapon_code,weapon_name,prop_desc_code,data_year.1,prop_desc_code.1,prop_desc_name,stolen_value,recovered_value,recovered_flag,date_recovered
0,2021,TX0030000,Angelina,NaN,County,TX,Texas,West South Central,ANGELINA,South,...,NaN,NaN,20,2021,20,Money,375.0,0,False,NaN
1,2021,AL0010000,Jefferson,NaN,County,AL,Alabama,East South Central,JEFFERSON,South,...,NaN,NaN,77,2021,77,Other,1.0,0,False,NaN
2,2021,AL0010000,Jefferson,NaN,County,AL,Alabama,East South Central,JEFFERSON,South,...,NaN,NaN,65,2021,65,Identity Documents,0.0,0,False,NaN
3,2021,AL0010000,Jefferson,NaN,County,AL,Alabama,East South Central,JEFFERSON,South,...,NaN,NaN,13,2021,13,Firearms,320.0,0,False,NaN
4,2021,AL0010000,Jefferson,NaN,County,AL,Alabama,East South Central,JEFFERSON,South,...,NaN,NaN,77,2021,77,Other,1.0,0,False,NaN

In [3]:
# What are the columns in this DataFrame?
raw_df.dtypes

data_year                  int64
ori                       object
pub_agency_name           object
pub_agency_unit           object
agency_type_name          object
state_abbr                object
state_name                object
division_name             object
county_name               object
region_name               object
population_group_code     object
population_group_desc     object
offense_code              object
offense_name              object
offender_race             object
offender_ethnicity        object
offender_age             float64
offender_sex              object
victim_type_code          object
victim_type_name          object
location_code              int64
location_name             object
weapon_code               object
weapon_name               object
prop_desc_code             int64
data_year.1                int64
prop_desc_code.1           int64
prop_desc_name            object
stolen_value             float64
recovered_value            int64
recovered_flag              bool
date_recovered            object
dtype: object

In [4]:
# How many different values are in each column?
raw_df.nunique()

data_year                   9
ori                      3912
pub_agency_name          2935
pub_agency_unit           147
agency_type_name            8
state_abbr                 50
state_name                 50
division_name              10
county_name              1227
region_name                 5
population_group_code      19
population_group_desc      19
offense_code               40
offense_name               40
offender_race               6
offender_ethnicity          4
offender_age               87
offender_sex                3
victim_type_code            9
victim_type_name            9
location_code              47
location_name              47
weapon_code                19
weapon_name                19
prop_desc_code             68
data_year.1                 9
prop_desc_code.1           68
prop_desc_name             68
stolen_value             5265
recovered_value          1144
recovered_flag              2
date_recovered           2431
dtype: int64

In [5]:
# Are there null values?
# (Null/NaN values are not in value counts)
raw_df.isna().sum()

data_year                     0
ori                           0
pub_agency_name               0
pub_agency_unit          150070
agency_type_name              0
state_abbr                    0
state_name                    0
division_name                 0
county_name                   0
region_name                   0
population_group_code         6
population_group_desc         6
offense_code                  0
offense_name                  0
offender_race             68219
offender_ethnicity        68219
offender_age              72765
offender_sex              68219
victim_type_code              0
victim_type_name              0
location_code                 0
location_name                 0
weapon_code              138505
weapon_name              138505
prop_desc_code                0
data_year.1                   0
prop_desc_code.1              0
prop_desc_name                0
stolen_value                271
recovered_value               0
recovered_flag                0
date_recovered           130021
dtype: int64

In [6]:
# Are there duplicated values?
raw_df.duplicated().sum()

14518

In [7]:
# Some columns look similar. Are they clones?
print(raw_df["data_year"].equals(raw_df["data_year.1"]))
print(raw_df["prop_desc_code"].equals(raw_df["prop_desc_code.1"]))

True
True

In [8]:
# First transformation plan - Drop the unneccessary columns.
# These are the identifier, the clones, and the state abbreviations.
dropped = ["ori", "data_year.1", "prop_desc_code.1", "state_abbr"]

In [9]:
# Execute first transformation and remove duplicate entries.
df0 = raw_df.drop(columns = dropped, axis = 1).drop_duplicates()
df0.head()

,data_year,pub_agency_name,pub_agency_unit,agency_type_name,state_name,division_name,county_name,region_name,population_group_code,population_group_desc,...,location_code,location_name,weapon_code,weapon_name,prop_desc_code,prop_desc_name,stolen_value,recovered_value,recovered_flag,date_recovered
0,2021,Angelina,NaN,County,Texas,West South Central,ANGELINA,South,8B,"Non-MSA counties from 25,000 thru 99,999",...,25,Other/Unknown,NaN,NaN,20,Money,375.0,0,False,NaN
1,2021,Jefferson,NaN,County,Alabama,East South Central,JEFFERSON,South,9A,"MSA counties 100,000 or over",...,20,Residence/Home,NaN,NaN,77,Other,1.0,0,False,NaN
2,2021,Jefferson,NaN,County,Alabama,East South Central,JEFFERSON,South,9A,"MSA counties 100,000 or over",...,20,Residence/Home,NaN,NaN,65,Identity Documents,0.0,0,False,NaN
3,2021,Jefferson,NaN,County,Alabama,East South Central,JEFFERSON,South,9A,"MSA counties 100,000 or over",...,20,Residence/Home,NaN,NaN,13,Firearms,320.0,0,False,NaN
4,2021,Jefferson,NaN,County,Alabama,East South Central,JEFFERSON,South,9A,"MSA counties 100,000 or over",...,20,Residence/Home,NaN,NaN,77,Other,1.0,0,False,NaN

## II. Investigate the Null Values

In [10]:
# Examine the 'public_agency_unit' column.
df0.pub_agency_unit.value_counts()

New Castle County    113
Keyser               109
Princeton            101
Lake Norman           56
Lake James            50
                    ...
Accomack County        1
Gibson County          1
Hamilton County        1
Grayson County         1
Berkeley County        1
Name: pub_agency_unit, Length: 147, dtype: int64

In [11]:
# Examine the 'population_group_code' column.
df0.population_group_code.value_counts()

5     15941
4     15810
1B    15375
9A    14764
3     12385
6      9887
2      9679
1C     9166
9B     8830
1A     6483
8B     5296
8C     4343
7      4227
8D     1837
9C     1732
9D     1157
8E       50
8A        4
9E        2
Name: population_group_code, dtype: int64

In [12]:
# Examine the 'population_group_desc' column.
df0.population_group_desc.value_counts()

Cities from 10,000 thru 24,999              15941
Cities from 25,000 thru 49,999              15810
Cities from 500,000 thru 999,999            15375
MSA counties 100,000 or over                14764
Cities from 50,000 thru 99,999              12385
Cities from 2,500 thru 9,999                 9887
Cities from 100,000 thru 249,999             9679
Cities from 250,000 thru 499,999             9166
MSA counties from 25,000 thru 99,999         8830
Cities 1,000,000 or over                     6483
Non-MSA counties from 25,000 thru 99,999     5296
Non-MSA counties from 10,000 thru 24,999     4343
Cities under 2,500                           4227
Non-MSA counties under 10,000                1837
MSA counties from 10,000 thru 24,999         1732
MSA counties under 10,000                    1157
Non-MSA State Police                           50
Non-MSA counties 100,000 or over                4
MSA State Police                                2
Name: population_group_desc, dtype: int64

In [13]:
# Examine the 'offender_race' column.
df0.offender_race.value_counts()

White                                        32591
Black or African American                    21170
Unknown                                      20801
American Indian or Alaska Native               693
Asian                                          269
Native Hawaiian or Other Pacific Islander       17
Name: offender_race, dtype: int64

In [14]:
# Examine the 'offender_ethnicity' column.
df0.offender_ethnicity.value_counts()

Not Hispanic or Latino    29452
Not Specified             22171
Unknown                   20046
Hispanic or Latino         3872
Name: offender_ethnicity, dtype: int64

In [15]:
# Examine the 'offender_age' column.
df0.offender_age.value_counts().sort_index()

0.0     15926
1.0       169
4.0         4
5.0         7
6.0         3
        ...
85.0        1
86.0        3
87.0        3
98.0       20
99.0      418
Name: offender_age, Length: 87, dtype: int64

In [16]:
# Examine the 'offender_sex' column.
df0.offender_sex.value_counts()

M    44856
U    18191
F    12494
Name: offender_sex, dtype: int64

In [17]:
# Examine the 'weapon_code' column.
df0.weapon_code.value_counts()

12     3666
40     2672
99     1532
20      666
11      616
90      600
95      436
12A     294
30      223
13      208
35      172
11A      78
15       71
14       67
85       22
70       18
13A      11
14A       2
50        2
Name: weapon_code, dtype: int64

In [18]:
# Examine the 'weapon_name' column.
df0.weapon_name.value_counts()

Handgun                           3666
Personal Weapons                  2672
None                              1532
Knife/Cutting Instrument           666
Firearm                            616
Other                              600
Unknown                            436
Handgun (Automatic)                294
Blunt Object                       223
Rifle                              208
Motor Vehicle/Vessel               172
Firearm (Automatic)                 78
Other Firearm                       71
Shotgun                             67
Asphyxiation                        22
Drugs/Narcotics/Sleeping Pills      18
Rifle (Automatic)                   11
Shotgun (Automatic)                  2
Poison                               2
Name: weapon_name, dtype: int64

In [19]:
# Examine the 'stolen_value' column.
df0.stolen_value.value_counts().sort_index()

0.0            11776
1.0            15517
2.0             1273
3.0              470
4.0              285
               ...
25000000.0         6
25496498.0         1
120029400.0        1
250000000.0        1
311128346.0        1
Name: stolen_value, Length: 5265, dtype: int64

In [20]:
# Examine the 'date_recoverd' column.
df0.date_recovered.value_counts()

2019-10-09    127
2016-10-07    121
2020-09-09    108
2020-12-28     96
2020-08-19     95
             ...
2018-10-01      1
2018-03-20      1
2015-06-18      1
2015-05-17      1
2013-03-11      1
Name: date_recovered, Length: 2431, dtype: int64

In [21]:
# Second transformation - fix null values.
# EASY - Set categorical nulls to "Unknown."
df0.offender_race = df0.offender_race.fillna("Unknown")
df0.offender_ethnicity = df0.offender_ethnicity.fillna("Unknown")
df0.offender_sex = df0.offender_sex.fillna("U")
df0.weapon_name = df0.weapon_name.fillna("Unknown")
df0.weapon_code = df0.weapon_code.fillna("95")

# When handling 'offender_age', assume 'age 0' is the
# blanket bin for undefined ages.
df0.offender_age = df0.offender_age.fillna(0.0)

# When handling 'stolen_value', assume that a value of '0.0'
# is the blanket bit for undefined values.
df0.stolen_value = df0.stolen_value.fillna(0.0)

The `population_group_description` column does not look like it will work with "Unknown" as a value, so take a closer look at this area.

In [22]:
# Take a closer look at the entries with undefined population_group_description values.
df0.loc[df0.population_group_desc.isna() == True]

,data_year,pub_agency_name,pub_agency_unit,agency_type_name,state_name,division_name,county_name,region_name,population_group_code,population_group_desc,...,location_code,location_name,weapon_code,weapon_name,prop_desc_code,prop_desc_name,stolen_value,recovered_value,recovered_flag,date_recovered
2057,2021,Federal Bureau of Investigation,NaN,Federal,Federal,Other,NOT SPECIFIED,Other,NaN,NaN,...,5,Commercial/Office Building,95,Unknown,59,Firearm Accessories,700.0,0,False,NaN
24746,2021,United States Air Force Security Police,NaN,Federal,Federal,Other,NOT SPECIFIED,Other,NaN,NaN,...,20,Residence/Home,95,Unknown,77,Other,350.0,0,False,NaN
68199,2020,United States Agency for International Develop...,NaN,Federal,Federal,Other,NOT SPECIFIED,Other,NaN,NaN,...,18,Parking/Drop Lot/Garage,95,Unknown,77,Other,3000000.0,0,False,NaN
73855,2020,United States Agency for International Develop...,NaN,Federal,Federal,Other,NOT SPECIFIED,Other,NaN,NaN,...,18,Parking/Drop Lot/Garage,95,Unknown,77,Other,3000000.0,3000000,True,2020-08-16
73856,2020,United States Agency for International Develop...,NaN,Federal,Federal,Other,NOT SPECIFIED,Other,NaN,NaN,...,18,Parking/Drop Lot/Garage,95,Unknown,77,Other,3000000.0,3000000,True,2020-08-16
73857,2020,United States Agency for International Develop...,NaN,Federal,Federal,Other,NOT SPECIFIED,Other,NaN,NaN,...,18,Parking/Drop Lot/Garage,95,Unknown,77,Other,3000000.0,3000000,True,2020-08-16

In [23]:
# This is a very tricky case... looks like 'National' cases?
df0.population_group_desc = df0.population_group_desc.fillna("National")
df0.population_group_code = df0.population_group_code.fillna("0")

In [24]:
# How is the progress so far?
df0.isna().sum()

data_year                     0
pub_agency_name               0
pub_agency_unit          135612
agency_type_name              0
state_name                    0
division_name                 0
county_name                   0
region_name                   0
population_group_code         0
population_group_desc         0
offense_code                  0
offense_name                  0
offender_race                 0
offender_ethnicity            0
offender_age                  0
offender_sex                  0
victim_type_code              0
victim_type_name              0
location_code                 0
location_name                 0
weapon_code                   0
weapon_name                   0
prop_desc_code                0
prop_desc_name                0
stolen_value                  0
recovered_value               0
recovered_flag                0
date_recovered           116540
dtype: int64

The "easy" columns are done. The `date_recovered` column does not need to be handled yet, so the main focus is now on the `pub_agency_unit` column which will be more complicated.

In [25]:
# Are the public agency units maybe related to the public agency names?
df0.loc[df0.pub_agency_unit.isna() == False].pub_agency_name.value_counts()

State Police:                              928
State Park Rangers:                        245
University of North Carolina:               43
University of Tennessee:                    21
Independent School District:                20
University of Massachusetts:                16
North Carolina State University             13
University of Arkansas:                     11
West Virginia University:                    9
Division of Law Enforcement                  8
University of Alabama:                       7
University of Texas:                         7
Highway Patrol:                              7
Huron-Clinton Metropolitan Authority:        6
University of South Carolina:                5
Department of Game and Inland Fisheries      4
Port Authority                               3
University of Houston:                       2
University of Wisconsin:                     1
North Carolina State Port Authority:         1
Drug Task Force:                             1
Kaufman County Constable:                    1
Texas A&M University:                        1
University of Colorado:                      1
University of Michigan:                      1
Name: pub_agency_name, dtype: int64

So non-null public agency units fit into 25 public agency names. There seems to be some kind of pattern...

In [26]:
# What are their types?
df0.loc[df0.pub_agency_unit.isna() == False].agency_type_name.value_counts()

State Police             935
Other State Agency       257
University or College    138
Other                     32
Name: agency_type_name, dtype: int64

In [27]:
# How does that compare to the entire DataFrame in general?
df0.agency_type_name.value_counts()

City                     96897
County                   36861
State Police              1108
University or College      755
Other                      739
Other State Agency         533
Tribal                      67
Federal                     14
Name: agency_type_name, dtype: int64

In [28]:
# Maybe 'pub_agency_unit' will not be necessary for current purposes.
df0 = df0.drop(columns = ["pub_agency_unit"], axis = 1)
df0.head()

,data_year,pub_agency_name,agency_type_name,state_name,division_name,county_name,region_name,population_group_code,population_group_desc,offense_code,...,location_code,location_name,weapon_code,weapon_name,prop_desc_code,prop_desc_name,stolen_value,recovered_value,recovered_flag,date_recovered
0,2021,Angelina,County,Texas,West South Central,ANGELINA,South,8B,"Non-MSA counties from 25,000 thru 99,999",26B,...,25,Other/Unknown,95,Unknown,20,Money,375.0,0,False,NaN
1,2021,Jefferson,County,Alabama,East South Central,JEFFERSON,South,9A,"MSA counties 100,000 or over",23H,...,20,Residence/Home,95,Unknown,77,Other,1.0,0,False,NaN
2,2021,Jefferson,County,Alabama,East South Central,JEFFERSON,South,9A,"MSA counties 100,000 or over",23H,...,20,Residence/Home,95,Unknown,65,Identity Documents,0.0,0,False,NaN
3,2021,Jefferson,County,Alabama,East South Central,JEFFERSON,South,9A,"MSA counties 100,000 or over",23H,...,20,Residence/Home,95,Unknown,13,Firearms,320.0,0,False,NaN
4,2021,Jefferson,County,Alabama,East South Central,JEFFERSON,South,9A,"MSA counties 100,000 or over",23F,...,20,Residence/Home,95,Unknown,77,Other,1.0,0,False,NaN

In [29]:
# What are the offenses?
df0.offense_name.value_counts()

Theft From Motor Vehicle                       35024
All Other Larceny                              29737
Burglary/Breaking & Entering                   21125
Motor Vehicle Theft                            14899
Destruction/Damage/Vandalism of Property        7458
Theft From Building                             6767
Robbery                                         4993
False Pretenses/Swindle/Confidence Game         3384
Credit Card/Automated Teller Machine Fraud      2634
Drug/Narcotic Violations                        1707
Stolen Property Offenses                        1171
Impersonation                                    877
Weapon Law Violations                            875
Embezzlement                                     853
Drug Equipment Violations                        831
Identity Theft                                   830
Simple Assault                                   782
Aggravated Assault                               535
Counterfeiting/Forgery                           464
Theft of Motor Vehicle Parts or Accessories      399
Kidnapping/Abduction                             380
Shoplifting                                      309
Intimidation                                     234
Wire Fraud                                       166
Extortion/Blackmail                              103
Pocket-picking                                    82
Purse-snatching                                   75
Rape                                              53
Murder and Nonnegligent Manslaughter              47
Theft From Coin-Operated Machine or Device        43
Arson                                             38
Hacking/Computer Invasion                         38
Fondling                                          21
Pornography/Obscene Material                      16
Human Trafficking, Involuntary Servitude          16
Sodomy                                             3
Animal Cruelty                                     2
Bribery                                            1
Welfare Fraud                                      1
Sexual Assault With An Object                      1
Name: offense_name, dtype: int64

In [30]:
# How about their codes?
df0.offense_code.value_counts()

23F    35024
23H    29737
220    21125
240    14899
290     7458
23D     6767
120     4993
26A     3384
26B     2634
35A     1707
280     1171
26C      877
520      875
270      853
35B      831
26F      830
13B      782
13A      535
250      464
23G      399
100      380
23C      309
13C      234
26E      166
210      103
23A       82
23B       75
11A       53
09A       47
23E       43
200       38
26G       38
11D       21
370       16
64B       16
11B        3
720        2
510        1
26D        1
11C        1
Name: offense_code, dtype: int64

In [31]:
# The priority for this project is anything related to stealing something.
excluded = ["Destruction/Damage/Vandalism of Property",
            "Drug/Narcotic Violations",
            "Impersonation",
            "Weapon Law Violations",
            "Drug Equipment Violations",
            "Simple Assault",
            "Aggravated Assault",
            "Kidnapping/Abduction",
            "Intimidation",
            "Extortion/Blackmail",
            "Rape",
            "Murder and Nonnegligent Manslaughter",
            "Arson",
            "Hacking/Computer Invasion",
            "Fondling",
            "Pornography/Obscene Material",
            "Human Trafficking, Involuntary Servitude",
            "Sodomy",
            "Animal Cruelty",
            "Bribery",
            "Sexual Assault With An Object"]

df_cleaned = df0.loc[~df0.offense_name.isin(excluded)]

In [32]:
# Check the results.
df_cleaned.offense_name.value_counts()

Theft From Motor Vehicle                       35024
All Other Larceny                              29737
Burglary/Breaking & Entering                   21125
Motor Vehicle Theft                            14899
Theft From Building                             6767
Robbery                                         4993
False Pretenses/Swindle/Confidence Game         3384
Credit Card/Automated Teller Machine Fraud      2634
Stolen Property Offenses                        1171
Embezzlement                                     853
Identity Theft                                   830
Counterfeiting/Forgery                           464
Theft of Motor Vehicle Parts or Accessories      399
Shoplifting                                      309
Wire Fraud                                       166
Pocket-picking                                    82
Purse-snatching                                   75
Theft From Coin-Operated Machine or Device        43
Welfare Fraud                                      1
Name: offense_name, dtype: int64

In [33]:
# How do the codes look?.
df_cleaned.offense_code.value_counts()

23F    35024
23H    29737
220    21125
240    14899
23D     6767
120     4993
26A     3384
26B     2634
280     1171
270      853
26F      830
250      464
23G      399
23C      309
26E      166
23A       82
23B       75
23E       43
26D        1
Name: offense_code, dtype: int64

## III. Examine the Cleaned DataFrame for Inspiration
### Idea 1: Unsupervised Machine Learning - Grouping the Reports

In [34]:
# The current DataFrame on hand should be servicable for this.
df_cleaned.to_csv("Datasets/CrimeReport.csv", index = False)

### Idea 2: "Will stolen property be recovered?"
This data may need more trimming (especially columns) for Logistic Regression, otherwise a neural network could be attempted.

In [35]:
# What is the distribution of Recovered vs. Not Recovered?
df_cleaned.recovered_flag.value_counts()

False    105675
True      17281
Name: recovered_flag, dtype: int64

In [36]:
# Determine which columns will be used as features and which column will be the target.
# For this case, it is easier to drop unneeded columns.
dropped = ["data_year","population_group_desc", "offense_name", "victim_type_name",
           "location_name", "weapon_name", "prop_desc_name", "recovered_value", "date_recovered"]
df1 = df_cleaned.drop(columns = dropped, axis = 1)
df1.head()

,pub_agency_name,agency_type_name,state_name,division_name,county_name,region_name,population_group_code,offense_code,offender_race,offender_ethnicity,offender_age,offender_sex,victim_type_code,location_code,weapon_code,prop_desc_code,stolen_value,recovered_flag
0,Angelina,County,Texas,West South Central,ANGELINA,South,8B,26B,Unknown,Unknown,0.0,U,I,25,95,20,375.0,False
1,Jefferson,County,Alabama,East South Central,JEFFERSON,South,9A,23H,Unknown,Unknown,0.0,U,I,20,95,77,1.0,False
2,Jefferson,County,Alabama,East South Central,JEFFERSON,South,9A,23H,Unknown,Unknown,0.0,U,I,20,95,65,0.0,False
3,Jefferson,County,Alabama,East South Central,JEFFERSON,South,9A,23H,Unknown,Unknown,0.0,U,I,20,95,13,320.0,False
4,Jefferson,County,Alabama,East South Central,JEFFERSON,South,9A,23F,Unknown,Unknown,0.0,U,I,20,95,77,1.0,False

In [37]:
# Write this DataFrame out to a CSV file.
df1.to_csv("Datasets/BinaryClassifier.csv", index = False)

### Idea 3: Supervised Machine Learning (Linear Regression) - Expected recovery value/date
This will focus on recovered property, so the main question is whether there are sufficient entries.

In [38]:
# Extract the entries that have confirmed recovery, and remove unnecessary columns.
df2 = df_cleaned.loc[df_cleaned.recovered_flag == True]
df2 = df2.drop(columns = ["recovered_flag"], axis = 1)
df2.head()

,data_year,pub_agency_name,agency_type_name,state_name,division_name,county_name,region_name,population_group_code,population_group_desc,offense_code,...,victim_type_name,location_code,location_name,weapon_code,weapon_name,prop_desc_code,prop_desc_name,stolen_value,recovered_value,date_recovered
16,2021,Lee,County,Alabama,East South Central,LEE,South,9B,"MSA counties from 25,000 thru 99,999",23H,...,Individual,20,Residence/Home,95,Unknown,9,Credit/ Debit cards,0.0,0,2021-10-26
45,2021,Berkeley,County,West Virginia,South Atlantic,BERKELEY,South,9A,"MSA counties 100,000 or over",23H,...,Individual,25,Other/Unknown,95,Unknown,77,Other,5000.0,5000,2021-11-29
51,2021,Mobile,City,Alabama,East South Central,MOBILE,South,2,"Cities from 100,000 thru 249,999",240,...,Individual,20,Residence/Home,95,Unknown,3,Automobile,12000.0,12000,2021-10-17
54,2021,Mobile,City,Alabama,East South Central,MOBILE,South,2,"Cities from 100,000 thru 249,999",240,...,Individual,20,Residence/Home,95,Unknown,3,Automobile,11000.0,11000,2021-09-24
75,2021,Mobile,City,Alabama,East South Central,MOBILE,South,2,"Cities from 100,000 thru 249,999",240,...,Individual,18,Parking/Drop Lot/Garage,95,Unknown,3,Automobile,20000.0,20000,2021-12-31

In [39]:
# Write this DataFrame out to a CSV file.
df2.to_csv("Datasets/Regression.csv", index = False)